@model Car

<div class="container">
    <div>
        <img src=@Model.ImageUrl alt=@Model.Brand + @Model.Model class="w-100 h-75 add-object-style"/>
        <p>
            @Model.Description
        </p>
    </div>
</div>