/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*.nav-link-container > .sign-in-btn {
    width: 80px;
    background-color: #1f4590;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    border: none;
}*/

.reg-or-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ahac {
    color: #1f4590;
    text-decoration: none;
}

.loggedin-user-initial {
    background-color: #1f4590;
    padding: 3px 5px;
    border-radius: 40%;
    font-size: 1.5rem;
    font-weight: 600;
}

.custom-signin {
    background-color: #1f4590;
    border-radius: 4px;
    padding: 5px;
}

.outer {
    padding: 15px;
}

.background-image {
    background-image: url("../Images/ros1.jpg");
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-image > p {
    font-size: 1.3rem;
    align-self: flex-start;
}

.bg-image-header {
    font-size: 3rem;
    align-self: flex-start;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55%;
    background-color: #fff;
    border-radius: 60px;
    color: #000;
    margin: 0 auto;
    width: 80%;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.custom-btn-2 {
    background-color: #1f4590;
    border-radius: 7px;
    color: #fff;
    width: 120px;
    border: none;
    padding: 5px;
    margin-right: 40px;
}

.hero-text {
    margin-top: 250px;
    margin-bottom: 220px;
}

.hero-paragraph {
    margin: 0 auto;
    width: 50%;
}

.custom-btn {
    width: 100px;
}

.slide-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    --webkit-scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 20px;
    margin-bottom: 5rem;
}

.slide-content {
    height: 450px;
}

.slide-container::-webkit-scrollbar {
    display: none;
}

.card-wrapper {
    background-color: #ffffff;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
    width: 335px;
    border-radius: 10px;
    height: 90%;
}

.car-image {
    width: 100%;
    height: 45%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.car-details {
    padding: 10px;
}

.rent-now {
    background-color: #1f4590;
    border-radius: 7px;
    height: 40px;
    width: 150px;
    border: none;
    color: #ffffff;
}

.carousel-header-text {
    font-size: 2.5rem;
}

.custom-wwad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 5rem;
}

.custom-wwad > h2 {
    font-size: 3rem;
    font-weight: 700;
}

.fs1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 150px;
}

.site-navs {
    gap: 50px;
    margin: 0 auto;
    height: 50vh;
    margin-bottom: 100px;
}

.navs {
    width: 335px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 200px 0;
    border-radius: 10px;
    transition: .3s;
}

.navs:hover {
    transform: scale(1.03);
}

.navs .events {
    width: 335px;
    margin: 0 auto;
    padding: 0 5px;
    margin-bottom: 50px;
    line-height: 1.5;
    font-size: 1.1rem;
}

.site-features {
    margin-bottom: 300px;
}

.icons {
    align-self: center;
    padding-top: 5px;
    font-size: 170px;
    margin-bottom: 30px;
}

.wps {
    background-color: whitesmoke;
    height: 100vh;
    position: relative;
    margin-bottom: 300px;
}

.wps-content {
    margin: 0 auto;
    padding: 60px;
}

.wps-content > p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.wps-content > h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.quote-container {
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 25px;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.quote-container > .grid-item-1 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
}

.quote-container > div:nth-of-type(even) {
    background-color: #1f4590;
    border-radius: 4px;
}

.quote-container > div > p {
    padding: 70px;
    color: #fff;
}

.ros-container {
    margin-bottom: 300px;
    height: 90vh;
    background-color: whitesmoke;
    border-radius: 5px;
}

.ros-container > h2 {
    text-align: center;
    padding: 3rem;
    font-weight: 700;
    font-size: 3rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    height: 75%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.custom-card {
    width: 335px;
    height: 90%;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
    position: relative;
}

.card-image {
    width: 100%;
    height: 40%;
    border-radius: 5px;
    object-fit: cover;
}

.card-details {
    padding: 10px;
}

.card-details > .custom-card-header {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-details > .tags > a {
    background-color: #1f4590;
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
    font-size: .9rem;
    cursor: default;
    margin: 10px 0;
}

.card-details > .tags > a:hover {
    text-decoration: none;
}

.card-details > .custom-card-footer {
position: absolute;
bottom: 10px;
}

.card-details > .custom-card-footer > .fom {
    font-weight: 500;
}

.find-next {
    margin-bottom: 400px;
    height: 60vh;
    border-radius: 5px;
    position: relative;
    background-color: #1f4590;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.find-next > .header {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23%;
    background-color: #fff;
    border-radius: 60px;
    position: absolute;
    bottom: 30%;
    color: #000;
    width: 80%;
}

.space-around {
    display: flex;
    flex-direction: row;
    gap: 55px;
    justify-content: space-around;
    list-style: none;
    margin-left: -20px;
}

.space-around > li > ul {
    list-style: none;
}

.space-around > li:nth-of-type(1) {
}

.space-around > li:nth-of-type(3) {
    margin-right: 30px;
}


.size-one {
    font-size: 1rem;
}

.dark > a {
    color: #262626;
}

.footer-lists {
    list-style: none;
    line-height: 2;
}

.add-footer-style {
    height: 35vh;
    gap: 2rem;
    padding: 2rem;
}

.add-footer-style > div > h2 {
    color: #262626;
}

.set-fs {
    background-color: #ddd;
}

.add-mbh {
    margin: 0 auto;
    font-size: 2.5rem;
}

.add-mb {
    margin-bottom: 6rem;
}

@media screen and (min-device-width: 760px) and (orientation: portrait) {

    .site-navs {
        display: flex;
        flex-direction: column;
        margin-top: 300px;
        align-items: center;
    }

    .navs {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 790px;
        align-items: start;
        padding: 60px 15px;
    }

    .navs .events {
        text-align: start;
    }
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
