@model FastaApp.Entities.User

    <div class="login-reg-container">
        <form asp-action="Register" method="post" role="form" class="add-form-top-margin">
            <h4>Create a New Account</h4>
            <p>Input field labels suffixed with an asterik(*) indicate required fields</p>
            <div class="form-group">
                <span><label asp-for="FirstName">First name</label></span><span class="text-danger" style="font-size:1.5rem">*</span>
                <input asp-for="FirstName" class="form-control w-75" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span><label asp-for="LastName">Last name</label></span><span class="text-danger" style="font-size:1.5rem">*</span>
                <input asp-for="LastName" class="form-control w-75" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span><label asp-for="UserName">Username</label></span><span class="text-danger" style="font-size:1.5rem">*</span>
                <input asp-for="UserName" class="form-control w-75" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span><label asp-for="Email">Email</label></span><span class="text-danger" style="font-size:1.5rem">*</span>
                <input asp-for="Email" class="form-control w-75" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span><label asp-for="PhoneNumber">Phone number</label></span><span class="text-danger" style="font-size:1.5rem">*</span>
                <input asp-for="PhoneNumber" class="form-control w-75" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span><label asp-for="Password">Password</label></span><span class="text-danger" style="font-size:1.5rem">*</span>
                <input asp-for="Password" class="form-control w-75" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span><label asp-for="ConfirmPassword">Confirm password</label></span><span class="text-danger" style="font-size:1.5rem">*</span>
                <input asp-for="ConfirmPassword" class="form-control w-75" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary active mb-2">Register</button>
            <div class="form-group">
                <p>
                    <span>Already have an account? </span>
                    <span><a asp-action="Login" asp-controller="User" id="register">Login</a></span>
                </p>
            </div>
        </form>
        <div class="side-image">
            <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2FyfGVufDB8fDB8fHww&w=1000&q=80" alt="side pic" />
        </div>
    </div>

    @section HideFooter {}